.cart-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 70px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-header h2 {
    font-size: 2rem;
    font-weight: bold;
}

.clear-cart {
    background-color: #ff910f;
    color: #fff;
    border: none;
    padding: 1px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clear-cart:hover {
    background-color: #e0301e;
}

.cart-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item-image {
    width: 100px;
    margin-right: 20px;
}

.cart-item-info h3 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
}

.cart-item-info p {
    margin: 0;
    font-size: 1.2rem;
}

.cart-item-quantity {
    margin-top: 10px;
}

.cart-item-quantity label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
}

.cart-item-quantity input {
    width: 50px;
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
}

.remove-item {
    background-color: #ff910f;
    color: #fff;
    border: none;
    padding: 1px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-item:hover {
    background-color: #e0301e;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: bold;
}

.cart-total span:first-child {
    margin-right: 10px;
}