.text-center h4 {
    text-align: center;
    height: 70px;
    font-size: 35px;
}

.text-center p {
    height: 25rem;
    border-width: 200px;
    overflow: hidden;
}

.text-center {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}