.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-link:hover {
    border-bottom-color: #ccc;
}