#Product {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    padding: 20px;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: auto;
}

/* Estilo para el botón del carrito */
.product-info button {
    background-color: #111;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Estilo para el contador de elementos del carrito */
.cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f00;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

/* Estilo para animar el contador de elementos del carrito */
.cart-count.animate {
    animation-name: scale-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

/* Animación para escalar el contador de elementos del carrito */
@keyframes scale-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}