#Product {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    padding: 20px;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.product-info {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.product-info h2 {
    font-size: 1.5rem;
    margin: 0;
}

.product-info p {
    font-size: 1.2rem;
    margin: 0;
    color: #888;
}